#hero {
    padding: 64px 0;
}

#hero .info {
    width: calc(100% - 2 * var(--page-px));
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.wrap{
    width: max-content;
}

#hero .info .info__title {
    font-size: 64px;
    line-height: 80px;
    color: var(--clr-white);
    /* width: 50%; */
}

#hero .info .info__description {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--clr-neutral-500);
    margin-bottom: 32px;
}